<mat-form-field>
  <mat-label>Title <sup>*</sup></mat-label>
  <input matInput cdkFocusInitial [(ngModel)]="data.task.title" />
</mat-form-field>

<mat-form-field>
  <mat-label>Description <sup>*</sup></mat-label>
  <textarea matInput [(ngModel)]="data.task.description"></textarea>
</mat-form-field>

<div mat-dialog-actions>
  <button mat-button (click)="cancel()">Cancel</button>
  <button mat-button [mat-dialog-close]="{ task: data.task }">OK</button>
</div>

<div class="delete-icon-class">
  <button
    *ngIf="data.enableDelete"
    color="primary"
    aria-label="Delete"
    [mat-dialog-close]="{ task: data.task, delete: true }"
    class="delete-btn"
  >
    <mat-icon>delete</mat-icon>
    <span>Delete</span>
  </button>
</div>
